
<h2 class="page-header">Prices {{priceData.artist}}  {{priceData.title}}</h2>

<div><a href="/admin/updateprice/{{priceData.albumId}}" class="btn btn-info" role="button">Fetch price</a></div>

<div id="hc_container" style="width:100%, height:400px;"></div>
<script>

$(function () { 
    var myChart = Highcharts.chart('hc_container', {
        
        title: {
            text: 'Price'
        },
        xAxis: {
            categories: [{{{priceData.dates}}}]
        },
        series: [{
            name: 'Price',
            data: [{{ priceData.prices }}]
        }]
    });
});
</script>   
